@import url('https://fonts.googleapis.com/css?family=Muli:100,200,300,400,500,600,700display=swap');

@import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
/*-----------------------------header/navbar-----------------------*/

.header-title{
    font-family: 'Beth Ellen', cursive;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    height:300px;
    padding-top: 100px;
    font-size: 80px;
}
.header-sub-title{
    font-family: "Muli", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    height:150px;
    padding-top: 30px;
    font-size: 30px;
    color: #474747;

}

.navbar{
    font-family: "Muli",sans-serif;
    color: #474747;
    text-transform: uppercase;
    padding-bottom: 75px;
}

.navbar-toggler{
    margin-right: auto;
    margin-left: auto;
    border: none;
}


.navbar a{
    font-size: 20px;
    text-align: center;
}



.navbar ul{
    margin-left: auto;
    margin-right: auto;
}





/*----------------------------- index/body-----------------------*/

img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.img-fluid{
    height: 400px;
    padding-bottom: 30px;
}



/*-----------------------------footer-----------------------*/

footer{
    height:300px;
    text-align: center;
}

a {
    color: #474747;
}

.social-links li a i{
    padding: 12px 0;
    font-size: 30px;
    padding-top: 50px;
}

.footnote{
    text-transform: uppercase;
    font-family: "Muli",sans-serif;
    color: #474747;
    font-size: 14px;
    padding-top: 25px;
}


/*-----------------------------Contact-----------------------*/

.contact-details{
    font-family: "Muli",sans-serif;
    padding-bottom: 15px;
    text-align: center;

}

.contact-email{
    padding-bottom: 30px;
}

.center-form{
    padding-top: 10px;
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 70%;
    font-family: "Muli",sans-serif;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    font-family: "Muli",sans-serif;
    background-color: #474747;
}


@media(min-width: 992px){
    .center-form{
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}


/*-------------------------About---------------------------*/


.about-container{
    text-align: center; 
    font-family: "Muli",sans-serif;
    
}

.makeup-image{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}



.about-title{
    padding: 25px;
    font-size: 35px;
}


.about-container p{
    font-size: 25px;
    color: #474747;
    font-weight: 100;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:25px;
    padding-bottom: 25px;
    
    
}

}

.button-container{
    padding-top:
}

.btn{
    background-color: #474747;
}


/*-------------------------Film---------------------------*/

